version: '3'

services:

  traefik:
    image: traefik:v2.0
    command: --api.insecure=true --providers.docker
    ports:
      - 80:80
      - 443:443  
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      - "traefik.http.routers.traefik.rule=Host(`traefik.rmastertv.com`)"
      - "traefik.http.services.traefik.loadbalancer.server.port=8080"

  jenkins:
    image: jenkins/jenkins:lts
    volumes:
      - jenkins_home:/var/jenkins_home
    labels:
      - "traefik.http.routers.jenkins.rule=Host(`jenkins.rmastertv.com`)"
      - "traefik.http.services.jenkins.loadbalancer.server.port=8080"

  wpages-1:
    image: nginx:alpine
    volumes:
      - ../wpages/html:/usr/share/nginx/html
    labels:
      - "traefik.http.routers.wpages-1.rule=Host(`rmastertv.com`)"

  wpages-2:
    image: nginx:alpine
    volumes:
      - ../wpages-2/html:/usr/share/nginx/html
    labels:
      - "traefik.http.routers.wpages-2.rule=Host(`computacion.rmastertv.com`)"
  
  wpages-3:
    image: nginx:alpine
    volumes:
      - ../wpages-3/html:/usr/share/nginx/html
    labels:
    - "traefik.http.routers.wpages-3.rule=Host(`logistica.rmastertv.com`)"

volumes:
  jenkins_home: